<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ndgwww.HR.management.mapper.StatransferMapper">
  <resultMap id="BaseResultMap" type="com.ndgwww.HR.management.pojo.Statransfer">
    <result column="count" jdbcType="VARCHAR" property="count" />
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="prestationname" jdbcType="VARCHAR" property="prestationname" />
    <result column="stationid" jdbcType="VARCHAR" property="stationid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <association property="employee" javaType="com.ndgwww.HR.management.pojo.Employee">
      <id column="id" jdbcType="VARCHAR" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="sex" jdbcType="INTEGER" property="sex" />
      <result column="birth" jdbcType="DATE" property="birth" />
      <result column="idcard" jdbcType="VARCHAR" property="idcard" />
      <result column="departmentId" jdbcType="VARCHAR" property="departmentid" />
      <result column="departmentName" jdbcType="VARCHAR" property="departmentname" />
      <result column="stationId" jdbcType="VARCHAR" property="stationid" />
      <result column="stationName" jdbcType="VARCHAR" property="stationname" />
      <result column="employDate" jdbcType="DATE" property="employdate" />
      <result column="workDate" jdbcType="DATE" property="workdate" />
      <result column="form" jdbcType="INTEGER" property="form" />
      <result column="source" jdbcType="VARCHAR" property="source" />
      <result column="politics" jdbcType="VARCHAR" property="politics" />
      <result column="folk" jdbcType="VARCHAR" property="folk" />
      <result column="nation" jdbcType="VARCHAR" property="nation" />
      <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="height" jdbcType="VARCHAR" property="height" />
      <result column="blood" jdbcType="VARCHAR" property="blood" />
      <result column="status" jdbcType="VARCHAR" property="status" />
      <result column="homeplace" jdbcType="VARCHAR" property="homeplace" />
      <result column="seat" jdbcType="VARCHAR" property="seat" />
      <result column="eduBack" jdbcType="VARCHAR" property="eduback" />
      <result column="eduDegree" jdbcType="VARCHAR" property="edudegree" />
      <result column="graSchool" jdbcType="VARCHAR" property="graschool" />
      <result column="speciality" jdbcType="VARCHAR" property="speciality" />
      <result column="graDate" jdbcType="DATE" property="gradate" />
      <result column="tag" jdbcType="INTEGER" property="tag" />
    </association>
    <association property="station" javaType="com.ndgwww.HR.management.pojo.Station">
      <id column="id" jdbcType="VARCHAR" property="id" />
      <result column="stationname" jdbcType="VARCHAR" property="stationname" />
      <result column="type" jdbcType="VARCHAR" property="type" />
      <result column="number" jdbcType="INTEGER" property="number" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
       id,type, reason,
      remark, date, prestationname,stationid
  </sql>
  <select id="selectAllEmp" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        employee.id,employee.name,stationid,station.name as stationname
        from  employee left join station on  employee.stationid=station.id where employee.tag=1
    </select>

  <select id="selectAllStatransfer" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    a.id,b.name,a.type,a.reason,a.remark,a.date,a.prestationname,a.stationid,station.name as stationname
    from (SELECT <include refid="Base_Column_List" /> FROM statransfer ORDER BY date desc LIMIT 0,100) a join employee b on a.id = b.id left join station on  a.stationid= station.id  where b.tag =1 GROUP BY a.id
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
   select
   employee.id,employee.name,stationid,station.name as stationname
   from employee left join station on employee.departmentid=station.id where employee.id=#{id,jdbcType=VARCHAR} and  tag =1</select>
  <!--员工详细信息 包括每次的记录-->
  <select id="selectByAll" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    statransfer.id,employee.name,statransfer.type, reason, remark, date, prestationname,statransfer.stationid,station.name as stationname
    from statransfer left join employee on statransfer.id = employee.id left join station on  statransfer.stationid= station.id
    where statransfer.id=#{id,jdbcType=VARCHAR} and employee.tag =1
  </select>
  <insert id="insertdepartment" parameterType="com.ndgwww.HR.management.pojo.Statransfer">
    insert into statransfer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="prestationname != null">
        prestationname,
      </if>

      <if test="stationid != null">
        stationid,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="prestationname != null">
        #{prestationname,jdbcType=VARCHAR},
      </if>
      <if test="stationid != null">
        #{stationid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insert" parameterType="com.ndgwww.HR.management.pojo.Statransfer">
    insert into statransfer (id, type, reason, 
      date, prestationname, stationid,
      remark)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, 
      #{date,jdbcType=DATE}, #{prestationname,jdbcType=VARCHAR}, #{stationid,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ndgwww.HR.management.pojo.Statransfer">
    insert into statransfer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="prestationname != null">
        prestationname,
      </if>
      <if test="stationid != null">
        stationid,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="prestationname != null">
        #{prestationname,jdbcType=VARCHAR},
      </if>
      <if test="stationid != null">
        #{stationid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>